:root {
  --vert: #6f7835;
  --top: #8a7e66;
  --disable: #ccc;
}
.aboutpage {
  position: relative;
}
.slogan {
  position: relative;
  width: 100%;
  min-height: 400px;
  background-color: rgba(0, 0, 0, 0.7);
}

.section {
  padding: 20px;
}
