:root {
  --vert: #6f7835;
  --top: #8a7e66;
  --disable: #ccc;
}

.client_section .MuiCardHeader-subheader{
  color: #6f7835;
}

.client_section .heading_container{
  color: white;
  margin-bottom: 50px;
}
